////////////////////////////////////////
// TOPBAR

.topbar {
  &::before {
    z-index: -1;
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: var(--color-white);
    transform: translateY(-100%);
    transition: all 0.3s;
  }
}

.topbar-white::before {
  transform: translateY(0);
}

.topbar {
  &.topbar-transparent {
    background-color: rgba(255, 255, 255, 0);
  }
  &.topbar-white {
    li {
      a {
        color: var(--color-black-1);
        &.title {
          color: var(--color-brown);
        }
      }
    }
  }

  &__ul {
    padding: 3rem;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    flex-direction: row;
    list-style-type: none;

    &.responsive {
      display: flex;
      flex-direction: column;
      .topbar__item {
        display: block;
        &.logo {
          display: none;
        }
      }
    }
  }

  &__item {
    text-decoration: none;
    font-size: 1.6rem;
    font-weight: 400;
    &__link:link,
    &__link:visited {
      color: var(--color-grey-light-1);
      text-decoration: none;
      padding: 0.5rem 1rem;
      position: relative;

      & > *:hover {
        color: var(--color-brown);
      }

      &.title {
        margin-left: auto;

        text-transform: uppercase;
        font-size: 2rem;
      }
    }
    &.logo {
      display: block;
      align-self: center;
    }

    @media only screen and (max-width: $bp-medium) {
      display: none;
    }

    &.menuIcon {
      @media only screen and (min-width: $bp-medium) {
        display: none;
      }
      @media only screen and (max-width: $bp-medium) {
        display: block;
      }
    }
  }
}

////////////////////////////////////////
// HERO

.hero {
  color: var(--color-grey-light-1);

  &__heading-1 {
    display: block;
    font-size: 3.2rem;
    font-weight: 300;
  }
  &__heading-2 {
    display: block;
    text-transform: uppercase;
    font-size: 4rem;
    font-weight: 400;
  }
  &__heading-3 {
    display: block;
    font-size: 1.6rem;
    font-weight: 300;
  }
}

////////////////////////////////////////
// INTRO

.intro {
  &__article {
    text-align: left;
    h3 {
      font-size: 2.8rem;
      font-family: 'Playfair Display', serif;
    }
    p {
      font-size: 1.6rem;
      color: var(--color-grey-light-4);
    }
  }

  &__slogan {
    font-size: 1.3rem;
  }

  &__image-container {
    position: relative;
    z-index: 3;
    &__container {
      &::after {
        content: '';
        display: inline-block;
        width: 100%;
        height: 100%;
        border: 1px solid #f0f0f0;
        z-index: -1;
        transform: translate(7rem, 5rem) scale(0.9, 0.9);
        position: absolute;
        top: 0;
        left: 0;
      }
    }

    &__photo {
      &.up {
        z-index: 3;
      }
    }
  }
}

////////////////////////////////////////
// CARTA

.carta {
  background-color: #f0f0f0;

  &__intro {
    h2 {
      font-size: 2.8rem;
      font-family: 'Playfair Display', serif;
      margin-bottom: 2rem;
    }
    p {
      font-size: 1.6rem;
      color: var(--color-grey-light-4);
      margin-bottom: 2rem;
    }
  }
  &__nav {
    &__navigation {
    }

    &__link:link,
    &__link:visited {
      color: var(--color-grey-light-4);
      text-decoration: none;
      font-size: 1.5rem;
      text-transform: uppercase;
      font-weight: 700;
      text-align: center;

      &:hover {
        color: var(--color-black-1);
      }
    }
  }
  &__plats {
  }
}

////////////////////////////////////////
// CUSTOM BUTTONS CARTA

.mybutton {
  position: relative;
  padding: 2rem;

  &::after {
    position: absolute;
    top: 0;
    left: 10%;
    width: 80%;
    height: 100%;
    display: block;

    content: '';
    transition: all 0.1s;
    transform: translateY(10px);
    opacity: 0;
    border-bottom: 3px solid #806345;
  }
}

.mybutton.button.active::after {
  transform: translateY(0);
  opacity: 1;
}

////////////////////////////////////////
// ITEMS CARTA

.item {
  animation: moveInFade 0.2s ease-in;
  &__header {
    display: flex;
    align-items: baseline;
  }

  &__title {
    font-family: 'Playfair Display', serif;
    font-size: 2rem;
    font-weight: 400;
    line-height: 1.42857;
    letter-spacing: 2px;
    margin: 0;
    color: #151515;
  }

  &__dots {
    flex: 1;
    border-bottom: 1px dashed #aaa;
    margin: 0 15px;
  }

  &__price {
    font-size: 1.7rem;
    margin-bottom: 0.8em;
    font-family: 'Playfair Display', serif;
    font-weight: 400;
    line-height: 1.42857;
  }

  &__description {
    font-family: 'Lato', sans-serif;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.7;
    text-align: left;
    color: #777;
    margin-bottom: 40px;
  }
}

.carta__plats__menu {
  animation: moveInFade 0.5s ease-in;
}

@keyframes moveInFade {
  0% {
    opacity: 0;
    transform: translateY(-5px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}

////////////////////////////////////////
// IMATGES-PLATS

.imatges-plats {
  &__intro {
    h2 {
      font-size: 2.8rem;
      font-family: 'Playfair Display', serif;
      margin-bottom: 2rem;
    }
    p {
      font-size: 1.6rem;
      color: var(--color-grey-light-4);
      margin-bottom: 2rem;
    }
  }
  &__nav {
    &__link:link,
    &__link:visited {
      color: var(--color-grey-light-4);
      text-decoration: none;
      font-size: 1.5rem;
      text-transform: uppercase;
      font-weight: 700;
      text-align: center;

      &:hover {
        color: var(--color-black-1);
      }
    }
  }
  &__plats {
  }
}
