.container {
  max-width: 120rem;
  margin: 0rem auto;
  background-color: var(--color-grey-light-1);
  /* box-shadow: var(--shadow-dark); */
  display: flex;
  flex-direction: column;
  min-height: 50rem;
}

.image-top {
  min-height: 85vh;
  background-image: url(../../img/imatge_fons_2.jpg);
  background-size: cover;
  background-position: center center;
  position: relative;
}

.header {
  position: relative;
  max-width: 100%;
  z-index: 4;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 4;
}

.hero {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.intro {
  width: 100%;
  display: flex;
  flex-direction: row;
  padding: 2rem;

  &.nosaltres {
    padding: 12rem 2rem;
  }

  &__article {
    /* background-color: lightblue; */
    flex: 0 0 55%;
    padding: 2rem 2rem;
    align-self: center;
    &.third-item {
      padding: 2rem 8rem;
    }

    @media only screen and (max-width: $bp-large) {
      flex: 0 0 65%;
    }
  }

  &__slogan {
    /* background-color: lightgoldenrodyellow; */
    flex: 0 0 15%;
    padding: 2rem;
    align-self: flex-start;

    @media only screen and (max-width: $bp-large) {
      display: none;
    }
  }

  &__image-container {
    /* background-color: lightsalmon; */
    flex: 0 0 25%;
    padding: 2rem;
    align-self: stretch;

    @media only screen and (max-width: $bp-large) {
      flex: 0 0 25%;
    }

    &__photo {
      width: 100%;
      object-fit: cover;
    }
  }
}

.hero-photo {
  position: relative;
  width: 100%;

  &.cheesecake {
    min-height: 65vh;
    background-image: url(../../img/imatge_gradient_01.png);
    background-size: cover;
    background-position: top right;
  }

  &.exterior {
    min-height: 70vh;
    background-image: url(../../img/imatge_fons_3.jpg);
    background-size: cover;
    background-position: top right;

    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  &__slogan {
    position: absolute;

    top: 5%;
    left: 10%;

    padding: 5rem;
    box-shadow: 0 1rem 2rem rgba($color: #000000, $alpha: 0.1);

    &.brown-bg {
      background-color: var(--color-brown);
      width: 30%;
      h2 {
        color: var(--color-white);
      }
      p {
        color: var(--color-grey-light-2);
      }
    }

    &.white-bg {
      background-color: var(--color-white);
      width: 50%;
      h2 {
        color: var(--color-black-1);
      }
      p {
        color: var(--color-grey-light-4);
      }
    }

    h2 {
      font-size: 2.8rem;
      font-family: 'Lato', serif;
      &.horari {
        margin-top: 1rem;
      }
      &.visitar-nos {
        margin-bottom: 1.6rem;
      }
    }
    p {
      font-size: 1.6rem;
      color: var(--color-grey-light-2);
    }
  }

  .adress {
    display: flex;
    flex-direction: row;
    width: 100%;
    text-decoration: none;
    padding: 1rem;

    &__horari {
      display: flex;
      flex-direction: column;
      padding: 1rem;
    }

    &__icon {
      margin-right: 1.5rem;
      transition: all 0.2s;
      &:hover {
        transform: scale(1.2);
      }
    }

    &__phone {
      text-decoration: none;
      margin-right: 1.5rem;
      transition: all 0.2s;
      font-size: 1.6rem;
      color: var(--color-grey-light-4);
      padding: 1rem;
      &:hover {
        transform: scale(1.2);
      }
    }
  }

  /* url("../images/imatge_gradient_01.png") */
}

.carta {
  display: flex;
  flex-direction: column;
  padding: 12rem 7rem;

  &__intro {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-bottom: 5rem;
  }
  &__nav {
    &__navigation {
      display: flex;
      flex-direction: row;
      width: 100%;
      justify-content: center;
      align-items: center;
      margin-bottom: 5rem;
    }
  }
  &__plats {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
}

.imatges-plats {
  display: flex;
  flex-direction: column;
  padding: 12rem 7rem 0rem;
  margin-bottom: 2rem;
  &__intro {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-bottom: 5rem;
  }
  &__nav {
    &__navigation {
      display: flex;
      flex-direction: row;
      width: 100%;
      justify-content: center;
      align-items: center;
      margin-bottom: 5rem;
    }
  }
  &__plats {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
}

.carrousel-container {
  padding-top: 2rem;
}

.reserva {
  padding-top: 12rem;
  margin-bottom: 1rem;
}
.footer {
  background-color: var(--color-brown);
  font-family: 'Lato', sans-serif;
  font-size: 1.2rem;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 2rem;

  &__information {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
  }

  &__social-icons {
    padding: 2rem 0rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
}

.social-icon {
  &__button {
    text-decoration: none;
    margin-right: 1rem;
  }

  &__icon {
    width: 3rem;
  }
}
